*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,body{
    height:100%;
}

/* Classes gerais */

.center{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.clear{
    clear: both;
}

.select{
    background-color: rgba(0,0,0,0.1);
}

.disabled{
    opacity: 0.4;
}

.w20{
    width: 20%;
    float: left;
}

.w80{
    float: left;
    width: 80%;
}

.w100{
    width: 100%;
}

/****/

/* Cabeçalho */

header{
    width: 100%;
    background-color: #626670;
}

.desktop-menu{
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 60px);
    margin: 0 auto;
}

.desktop-menu ul{
    list-style: none;
    text-align: center;
}

.desktop-menu ul li{
    display: inline-block;
    margin-right: -4px;
}

.desktop-menu ul li a{
    font-size: 20px;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    color: #E0D7D3;
    transition: 0.2s;
}

.desktop-menu ul li a:hover{
    background-color: rgba(0,0,0,0.05);
}

/****/

/* Corpo > Sidebar */

.corpo{
    width: 100%;
    height: calc(100% - 65px);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}


i.btn-menu{
    position: absolute;
    top: 20px;
    left: 23%;
    transform: translateX(-50%);
    font-size: 28px;
    display: inline-block;
    vertical-align: middle;
    color: #E0D7D3;
    cursor: pointer;
}

.sidebar{
    position: absolute;
    top: 0;
    left:0;
    width: 20%;
    height: 100%;
    background-color: #575b64;
}

.sidebar .logo{
    padding: 40px 25px;
    color: white;
    font-size: 22px;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
}

.sidebar-menu ul{
    list-style: none;
}

.sidebar-menu ul li a{
    width: 100%;
    height: 100%;
    padding: 20px 25px;
    display: inline-block;
    color: #E0D7D3;
    text-decoration: none;
    font-size: 18px;
    
}

/****/

/* Corpo - Entrada */

main{
    width: 100%;
    height: 100%;
    padding: 0 70px;
}

.entrada-box{
    position: relative;
    left: 20%;
    top: 75px;
    width: 82.5%;
    max-height: 81.3%;
    overflow-y: auto;
}

.entrada-box h1{
    font-size: 35px;
    border-bottom: 1px solid #626670;
    padding: 20px;
    border: 2px solid black;
    background-color: #9095a1;
}

.entrada-box table{
    width: 100%;
    max-height: inherit;
    padding: 5px 0;
    border-collapse: collapse;
}

.entrada-box thead{
    background-color: #9095a1;
}

.entrada-box thead tr:first-of-type th{
    border: 2px solid black;
    padding: 15px 0;
    font-size: 20px;
    text-transform: uppercase;
}

.entrada-box thead th input,
.entrada-box thead th select{
    border: 1px solid black;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background-color: #808591;
    color: white;
    font-size: 17px;
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;    
}

.entrada-box thead th input::placeholder{
    color: rgba(255,255,255,0.5);
}

.entrada-box thead th input[type=button]:hover{
    background-color: #626670;
    cursor: pointer;
}

.entrada-box table tbody{
    background-color: #9095a1;
}

.entrada-box table tbody td{
    text-align: center;
    padding: 10px 0;
    border: 1px solid black;
}

